body {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.largeText {
}
input,
textarea,
button {
  padding: 5;
  margin: 5;
  box-sizing: border-box;
}
select {
  width: 200px;
  padding: 5;
  margin: 5;
}

#radio {
  margin-bottom: 25px;
}
#page2 {
  text-align: right;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Green */
.success {
  border-color: #04aa6d;
  color: green;
}
.success:hover {
  background-color: #04aa6d;
  color: white;
}

#header_test {
  margin: 20px;
  padding: 20px;
}
.form-box {
  margin: 10px;
  box-shadow: -5px 3px 14px 2px #00000045;
  padding: 10px;
  width: 600px;
  /* align-items: center; */
  /* text-align: center; */
  /* align-content: center; */
  display: flex;
  justify-content: center;
}
