/* amaranth-700 - latin */
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('fonts/amaranth-v18-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('fonts/amaranth-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #c8cacc;
  color: #000000;
}
.largeText {
}
input,
textarea,
button {
  padding: 5;
  margin: 5;
  box-sizing: border-box;
}
select {
  width: 200px;
  padding: 5;
  margin: 5;
}

#radio {
  margin-bottom: 25px;
}
#page2 {
  text-align: right;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

@import url(https://fonts.googleapis.com/css?family=Merriweather);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Merriweather, Georgia, serif;
  font-size: 62.5%;
}
body {
  color: hsl(0, 0%, 10%);
  background-color: hsl(0, 0%, 95%);
  border-top: 5px solid hsl(220, 50%, 75%);
  max-width: 920px;
  margin: 0 auto;
  padding: 30px;
  bottom: 0;
  top: 0;
}
.hexagon {
  position: relative;
  display: inline-block;
  /* left/right margin approx. 25% of .hexagon width + spacing */
  margin: 1px 18px;
  background-color: hsl(220, 75%, 75%);
  text-align: center;
}
.hexagon,
.hexagon::before,
.hexagon::after {
  /* easy way: height is width * 1.732
  actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
  remove border-radius for sharp corners on hexagons */
  width: 67px;
  height: 116px;
  border-radius: 20%/1%;
}
.hexagon::before {
  background-color: inherit;
  content: '';
  position: absolute;
  left: 0;
  transform: rotate(-60deg);
}
.hexagon::after {
  background-color: inherit;
  content: '';
  position: absolute;
  left: 0;
  transform: rotate(60deg);
}
.hexagon:nth-child(even) {
  /* top approx. 50% of .hexagon height + spacing */
  top: 59px;
}
.hexagon:hover {
  background-color: hsla(60, 75%, 75%, 1);
  cursor: pointer;
  z-index: 105;
}
.hexagon:active {
  background-color: hsla(60, 75%, 50%, 1);
  z-index: 110;
}
.hexanone {
  position: relative;
  display: inline-block;
  width: 67px;
  height: 116px;
  margin: 1px 18px;
}
.hexanone:nth-child(even) {
  top: 59px;
}
.hexagontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  font-size: 1.4rem;
  line-height: 1.2;
  z-index: 100;
}
.ibws-fix {
  /* inline-block whitespace fix */
  font-size: 0;
}
.honeycomb {
  margin: 0 auto;
  text-align: center;
}

/* Green */
.success {
  border-color: #04aa6d;
  color: green;
}
.success:hover {
  background-color: #04aa6d;
  color: white;
}

#header_test {
  margin: 20px;
  padding: 20px;
}
.form-box {
  margin: auto;
  box-shadow: -5px 3px 14px 2px #00000045;
  padding: 10px;
  width: 600px;
  /* align-items: center; */
  /* text-align: center; */
  /* align-content: center; */
  display: flex;
  justify-content: center;
}

/* global */

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-body-wrapper {
  overflow-x: hidden;
}

h2,
.white {
  color: #fff;
}

a {
  color: #7a7c80;
  text-decoration: none;
}
/* section 1 */
.section-1 {
  padding-top: 10vh;
  text-align: center;
}

.section-1 p {
  font-size: 1.1rem;
  padding-bottom: 10px;
  margin: 0;
}

.section-1 h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.section-1 a {
  font-size: 1.5rem;
  padding: 10px;
}
/* section 2 */
.section-2 {
  padding-top: 10vh;
  width: 70%;
}

.section-2 h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.section-2 p {
  font-size: 1.1rem;
  padding-bottom: 10px;
  margin: 0;
}

.section-2 a {
  padding: 5px;
  font-size: 1.2rem;
  padding-left: 0;
  width: 100px;
}
/* animations / utilities */
.section-2 a:hover {
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.section-1 a:hover {
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.white:hover {
  position: relative;
  padding-left: 10px;
}

/* media queres */
@media (max-width: 780px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }
  .section-1 {
    padding: 0;
    padding-top: 5rem;
  }
  .section-2 {
    padding: 0;
    padding-left: 1.5rem;
    padding-top: 2rem;
  }
}
