body {
  text-align: center;
}
.largeText {
}
input,
textarea,
button {
  padding: 5;
  margin: 5;
  box-sizing: border-box;
}
select {
  width: 200px;
  padding: 5;
  margin: 5;
}

#radio {
  margin-bottom: 25px;
}
#page2 {
  text-align: right;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Green */
.success {
  border-color: #04aa6d;
  color: green;
}
.success:hover {
  background-color: #04aa6d;
  color: white;
}
